<!-- 计分器 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-on 实例</title>
    <script type="text/javascript" src="../assets/js/vue.js"></script>
</head>
<body>
    <h1>v-on 实例</h1>
    <hr>
    <div id="app">
        <!-- 渲染 模板输出方式   -->
        本场比赛得分： {{fenshu}}  
        <p>
            <button v-on:click="jiafen">加分</button>
            <button @click="jianfen">减分</button><br/>
            <input type="text" v-on:keyup.enter="onEnter" v-model="fenshu2"/>
            <input type="text" v-on:keyup.65="onA" v-model="fenshu3"/>
            <!-- keyup.enter 事件：回车键按下时  v-model 绑定数据源 -->
        </p>
    </div>

    <script type="text/javascript">
        var app = new Vue({   //声明变量  vue实例化 声明器
            el: '#app',
            data:{    //参数
                fenshu: 0,
                fenshu2: 1,
                fenshu3: 1
            },
            methods:{    //构造器 方法
                jiafen: function(){
                    this.fenshu++;
                },
                jianfen: function(){
                    this.fenshu--;
                },
                onEnter: function(){
                    this.fenshu = this.fenshu + parseInt(this.fenshu2);   //this.fenshu2字符串  使用parseInt()将字符串转换为int类型
                },
                onA: function(){
                    this.fenshu = this.fenshu - parseInt(this.fenshu3);   //this.fenshu2字符串  使用parseInt()将字符串转换为int类型
                }
            }
        })
    </script>
</body>
</html>