<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-model 数据源绑定实例</title>
    <script type="text/javascript" src="../assets/js/vue.js"></script>
</head>
<body>
    <h1>v-model 数据源绑定实例</h1>
    <hr>
    <div id="app">
        <!-- 渲染 模板输出方式   -->
        <p>原始文本信息：{{message}}</p><br/>
        <h3>文本框</h3>
        <p>v-model:<input type="text" v-model="message"/></p>
        <p>v-model.lazy:<input type="text" v-model.lazy="message"/></p>
        <p>v-model.number:<input type="text" v-model.number="message"/></p>
        <p>v-model.trim:<input type="text" v-model.trim="message"/></p>
        <!-- v-model 数据源绑定 数据双向绑定 
            lazy修饰符 懒加载：延缓加载（鼠标离开文本框时）
            number  message必须是数字
            trim 去除空格 -->
        <hr>
        <h3>文本域</h3>
        <textarea cols="30" rows="10" v-model="message"></textarea>
        <hr>
        <h3>多选框绑定值</h3>
        <input type="checkbox" id="isTrue" v-model="isTrue"/>
        <label for"=isTrue">{{isTrue}}</label>
        <hr>
        <h3>多选框绑定数组</h3>
        <p>
            <input type="checkbox" id="dm" value="dm" v-model="web_names"/>
            <label for="isTrue">dm</label>
            <input type="checkbox" id="liujun" value="liujun" v-model="web_names"/>
            <label for="isTrue">liujun</label>
            <input type="checkbox" id="jane" value="jane" v-model="web_names"/>
            <label for="isTrue">jane</label>
        </p>
        <p>{{web_names}}</p>
        <hr>
        <h3>单选框绑定</h3>
        <p>
            <input type="radio" id="one" value="男" v-model="sex"/>
            <label for="one">男</label>
            <input type="radio" id="two" value="女" v-model="sex"/>
            <label for="two">女</label>
            <p>你选择的性别是：{{sex}}</p>
        </p>
    </div>

    <script type="text/javascript">
        var app = new Vue({   //声明变量  vue实例化 声明器
            el: '#app',
            data:{    //参数
                message: 'Hello World!',
                isTrue: true,
                web_names: [],
                sex: '男'
            }
        })
    </script>
</body>
</html>